/* styles.css */
h1 {
    color: red;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

img {
    max-width: 25%;
}
/* Cambiar el color de fondo */
body {
    background-color: yellow;
}

/* Cambiar el color del texto */
p {
    color: #333333;
}

/* Cambiar el color de los enlaces */
a {
    color: #0078D4;
}

/* Cambiar el color de los botones */
.boton {
    background-color: #FF5722;
    color: white;
}


